
    @if(this.sectionPag() === 0){
        <div class="font-sans text-base text-indigo-800 border border-indigo-700 border-y-8 border-double rounded-xl px-10 py-5 my-10 bg-indigo-200">
            <p>Al registrarte en LINX te formulamos preguntas personales que nos ayudan a encontrar gente con preferencias
                similares a las tuyas.</p>
            <p>Ninguno de los datos recogidos son publicables, serán empleados únicamente por nuestro algoritmo para
                sugerirte perfiles compatibles.</p>
        </div>
    }
    
    <div class="flex justify-center mt-10">
    
        @switch (this.sectionPag()) {
            @case (0) {
                <app-agefilter [userPreferences]="this.userPreferences" (userPreferencesChange)="this.onUserPreferencesChange($event)"></app-agefilter>   
            }
            @case (1) {
                <app-proxyfilter [userPreferences]="this.userPreferences" (userPreferencesChange)="this.onUserPreferencesChange($event)"></app-proxyfilter>
            }
            @case (2) {
                <app-genderfilter [userPreferences]="this.userPreferences" (userPreferencesChange)="this.onUserPreferencesChange($event)"></app-genderfilter>
            }
            @case (3) {
                <app-politicsfilter [userPreferences]="this.userPreferences" (userPreferencesChange)="this.onUserPreferencesChange($event)"></app-politicsfilter>
            }
            @case (4) {
                <app-beliefsfilter [userPreferences]="this.userPreferences" (userPreferencesChange)="this.onUserPreferencesChange($event)"></app-beliefsfilter>
            }
            @case (5) {
                <app-dietfilter [userPreferences]="this.userPreferences" (userPreferencesChange)="this.onUserPreferencesChange($event)"></app-dietfilter>
            }
            @case (6) {
                <app-langfilter [userPreferences]="this.userPreferences" (userPreferencesChange)="this.onUserPreferencesChange($event)"></app-langfilter>
            }
            @case (7) {
                <app-workfilter [userPreferences]="this.userPreferences" (userPreferencesChange)="this.onUserPreferencesChange($event)"></app-workfilter>
            }
            @case (8) {
                <div class="bg-purple-600 rounded-xl p-20">
                    <h1 class="font-bold text-lg text-lime-400">LO TENEMOS CASI 🥳🎊 </h1>
                </div>
            }
        }
        
    </div>
    
    <div class="mt-5 flex flex-row justify-center">
        @if(this.sectionPag() > 0){
            <button type="button" (click)="this.prevPag()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-400 rounded-lg hover:bg-blue-500 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                <mat-icon>arrow_back</mat-icon>
            </button>
        }
        @if (this.sectionPag() < 8) {
            <button type="button" (click)="this.nextPag()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Siguiente
                <mat-icon>arrow_forward</mat-icon>
            </button>
        }
    </div>
    
    
