<div class="flex justify-center">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Creencias 👽</h1>
        <div class="flex flex-col">
            <fieldset class="flex flex-col">
                <label>¿Crees que el futuro será feminista y ecologista o no será?</label>
                <div class="mt-5">
                    <input type="radio" name="religion" value="true" [checked]="this.userProfile.beliefs.hasReligion" (change)="this.setHasReligion($event)">
                    <label class="ms-2 me-5">Sí</label>
                    <input type="radio" name="religion" value="false" [checked]="!this.userProfile.beliefs.hasReligion" (change)="this.setHasReligion($event)">
                    <label class="ms-2 me-5">No</label>
                </div>
            </fieldset>
        </div>
    </div>
    
    
</div>
