<div class="flex justify-center">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Creencias 👽</h1>
        <div class="flex flex-col">
            <fieldset class="flex flex-col">
                <label>¿Tienes alguna religión?</label>
                <div class="mt-5">
                    <input type="radio" name="religion" value="true" [checked]="this.userPreferences.beliefs.hasReligion" (change)="this.setHasReligion($event)">
                    <label class="ms-2 me-5">Sí</label>
                    <input type="radio" name="religion" value="false" [checked]="!this.userPreferences.beliefs.hasReligion" (change)="this.setHasReligion($event)">
                    <label class="ms-2 me-5">No</label>
                </div>
                @if(this.userPreferences.beliefs.hasReligion){
                    <label class="mt-8">¿Cuál es tu religión?</label>
                    <input type="text" name="myreligion" [value]="this.userPreferences.beliefs.myreligion || '' " (input)="this.userPreferences.beliefs.myreligion = $any($event.target).value">
                }
            </fieldset>
        </div>
        <div class="flex flex-col mt-8">
            <label>¿Quieres encontrar personas que compartan tus creencias?</label>
            <fieldset class="flex flex-col mt-5">
                <div>
                    <input type="radio" name="sharebeliefs" value="true" [checked]="this.userPreferences.beliefs.sharedBeliefs" (change)="this.setUserBeliefsPref($event)">
                    <label class="ms-2 me-5">Sí, quiero que compartan mis creencias</label>
                </div>
                <div>
                    <input type="radio" name="sharebeliefs" value="false" [checked]="!this.userPreferences.beliefs.sharedBeliefs" (change)="this.setUserBeliefsPref($event)">
                    <label class="ms-2 me-5">No me importa</label>
                </div>
            </fieldset>
        </div>
            
    </div>
    
    
</div>
