
    <div id="card" class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Edad 🎂</h1>
        <div>
            <label>¿Cuándo es tu cumpleaños?</label>
            <div class="flex flex-row mt-5">
                <div class="flex flex-col">
                    <label>Año</label>
                    <select id="anio" name="year" class="w-fit" (input)="this.birthYear=$any($event.target).value" >
                        <option value="-1">año</option>
                        @for(y of this.years ; track $index){
                        <option value="@y">{{y}}</option>
                        }
                    </select>
                </div>
                <div class="flex flex-col">
                    <label>Mes</label>
                    <select id="month" name="month" (change)="this.loadDaysOfMonth($any($event.target).value)"
                    (input)="this.birthMonth=$any($event.target).value"
                        class="w-fit">
                        <option value="-1">mes</option>
                        @for(m of this.months ; track $index){
                        <option [value]="$index + 1">{{ m }}</option>
                        }
        
                    </select>
                </div>
                <div class="flex flex-col">
                    <label>Día</label>
                    <select id="day" name="day" class="w-fit"
                    (input)="this.birthDay=$any($event.target).value">
                        @for(d of this.days; track $index){
                        <option value="@d">{{d}}</option>
                        }@empty {
                        <option value="-1">día</option>
                        }
                    </select>
        
                </div>
        
            </div>
        
        </div>
        <div class="flex flex-col mt-8">
            <label class="mb-8" for="agerange">Rango de edad que quieres encontrar</label>
            <mat-slider min="16" max="120" step="1" discrete value="1.5">
                <input matSliderStartThumb (change)="this.setFromAgeRange($event)">
                <input matSliderEndThumb (change)="this.setToAgeRange($event)">
            </mat-slider>
        </div>

    </div>
    
