<aside class="me-10">
    <div class="text-end">
        <h2 class="text-white hover:text-fuchsia-700 ">Eventos</h2>
    </div>
    <div class="text-end">
        <h2 class="text-white hover:text-lime-400">Intercambiador</h2>
    </div>
    <div class="text-end">
        <button id="dropdownInformationButton" data-dropdown-toggle="dropdownInformation" class="text-white hover:text-pink-500 text-end" type="button">
            <h2>Media</h2>
        </button>    
        <!-- Dropdown menu -->
        <div id="dropdownInformation" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                <li class="text-end">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> Podcasts </a>
                </li>
                <li class="text-end">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> Álbums </a>
                </li>
                <li class="text-end">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> Tracks </a>
                </li>
            </ul>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                <li class="text-end">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> Largometrajes </a>
                </li>
                <li class="text-end">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> Series </a>
                </li>
            </ul>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                <li class="text-end">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> Libros </a>
                </li>
            </ul>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownInformationButton">
                <li class="text-end">
                <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"> Juegos </a>
                </li>
            </ul>
        </div>
    </div>
</aside>

