<!-- <form class="max-w-lg mx-auto">
    <div class="flex">
        <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-cyan-200 border border-cyan-700 rounded-s-lg  " type="button">
            Buscar 
            <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
        </button>
        <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdown-button">
            <li>
                <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Intercambio</button>
            </li>
            <li>
                <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Evento</button>
            </li>
            </ul>
        </div>
        <div class="relative w-full">
            <input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-cyan-200 rounded-e-lg border border-cyan-700" placeholder="Tags, descripciones..." required />
            <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-cyan-200 rounded-e-lg border border-cyan-700 hover:bg-cyan-400">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Search</span>
            </button>
        </div>
    </div>
</form>
 -->

<div class="mt-5">
    <h1>Felix Rodríguex de la Fuente</h1>
</div>
<div class="grid grid-cols-4">
    <div class="col-auto">
        <div class="flex flex-row text-cyan-400 hover:text-blue-700">
            <span class="material-symbols-outlined">
                assignment_ind
                </span>
            <p class="ps-2">Perfil</p>
        </div>
        <div class="flex flex-row text-yellow-300 hover:text-amber-700">
            <span class="material-symbols-outlined">crisis_alert</span>
            <p class="ps-2">Avisos</p>
        </div>
        <div class="flex flex-row text-yellow-300 hover:text-yellow-500">
            <span class="material-symbols-outlined">flag</span>
            <p class="ps-2">Reportes</p>
        </div>
    </div>
    <div class="col-span-2 grid grid-cols-2 gap-5 mt-5">
      <article class="border border-solid rounded-md p-3">
        <h1>Sobre plantas de interior</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa voluptas perferendis, tenetur nostrum corrupti facere eius at, repellat magnam, aut consequuntur. Rerum id ab quos repudiandae maiores dolores, autem in.</p>
      </article>
      <article class="border border-solid rounded-md p-3">
        <img src="../../../../assets/imgs/account/calabazasz_stock.jpeg">
      </article>
      <article class="border border-solid rounded-md p-3">
        <img src="../../../../assets/imgs/account/capibara_stock.jpg">
      </article>
      <article class="border border-solid rounded-md p-3 h-fit">
        <h1>Art. de opinión</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias cumque omnis consequuntur excepturi, aperiam deleniti possimus, doloribus quas ducimus deserunt nemo? Aspernatur saepe architecto ea consequuntur recusandae, id modi voluptate.</p>
      </article>
    </div>  
    <div class="col-auto">
      <app-userhomeaside></app-userhomeaside>
    </div>
  </div>
  