<div class="mt-5">
    <h1>Felix Rodríguex de la Fuente</h1>
</div>
<div class="grid grid-cols-4">
    <div class="col-auto">
        <div class="flex flex-row text-cyan-400 hover:text-blue-700">
            <span class="material-symbols-outlined">
                assignment_ind
                </span>
            <p class="ps-2">Perfil</p>
        </div>
        <div class="flex flex-row text-yellow-300 hover:text-amber-700">
            <span class="material-symbols-outlined">crisis_alert</span>
            <p class="ps-2">Avisos</p>
        </div>
        <div class="flex flex-row text-yellow-300 hover:text-yellow-500">
            <span class="material-symbols-outlined">flag</span>
            <p class="ps-2">Reportes</p>
        </div>
    </div>
    <div class="col-span-2 grid grid-cols-2 gap-5 mt-5">
      <article class="border border-solid rounded-md p-3">
        <h1>Sobre plantas de interior</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa voluptas perferendis, tenetur nostrum corrupti facere eius at, repellat magnam, aut consequuntur. Rerum id ab quos repudiandae maiores dolores, autem in.</p>
      </article>
      <article class="border border-solid rounded-md p-3">
        <img src="../../../../assets/imgs/account/calabazasz_stock.jpeg">
      </article>
      <article class="border border-solid rounded-md p-3">
        <img src="../../../../assets/imgs/account/capibara_stock.jpg">
      </article>
      <article class="border border-solid rounded-md p-3 h-fit">
        <h1>Art. de opinión</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias cumque omnis consequuntur excepturi, aperiam deleniti possimus, doloribus quas ducimus deserunt nemo? Aspernatur saepe architecto ea consequuntur recusandae, id modi voluptate.</p>
      </article>
    </div>  
    <div class="col-auto">
      <app-userhomeaside></app-userhomeaside>
    </div>
  </div>
  