.homecontainer {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.leftSideLinks {
    grid-column: auto;
    margin-left: 3rem;
}

.artsContainer {
    grid-column: span 2 / span 2;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
    /* 20px */
    margin-top: 1.25rem;
    /* 20px */
}

.aside {
    grid-column: auto;
}

.asidemobile {
    display: none;
}

.editart {
    grid-column: span 2 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 20%;
}

.homefooter {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    align-items: last baseline;
    justify-content: center;
    text-align: center;
}

.chainbutt {
    grid-column: span 1 / span 1;
    width: 100%;
    align-self: center;
}

.reportLink {
    grid-column: span 1 / span 1;
    align-self: last baseline;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nobreakalert {
    grid-column: span 3 / span 3;
    height: 100%;
}

.breakalert {
    grid-column: span 3 / span 3;
    padding-top: 2%;
    padding-left: 1%;
    padding-right: 1%;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.alertbuttcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alertbutt {
    width: fit-content;
}

@media only screen and (max-width: 768px) {
    .homecontainer {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .leftSideLinks {
        margin-top: 1rem;
        grid-column: span 1 / span 1;
        margin-left: 1rem;
    }

    .asidemobile {
        display: block;
        grid-column: span 1 / span 1;
    }

    .aside {
        display: none;
    }

    .artsContainer {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 0;
        margin-top: 1.25rem;
        /* 20px */
    }

    article {
        grid-column: span 1 / span 1;
        margin-bottom: 3%;
    }

    .editart {
        grid-column: span 1 / span 1;
        display: flex;
        flex-direction: row;
        justify-content: end;
        margin-bottom: 20%;
    }


    .homefooter {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        justify-content: center;
        text-align: center;
        row-gap: 2rem;
    }

    .chainbutt {
        grid-column: 1;
        grid-row: 1;
        width: 100%;
        align-self: center;
    }

    .reportLink {
        grid-column: 2;
        grid-row: 1;
        align-self: last baseline;
        display: flex;
        justify-content: end;
        width: 100%;
    }

    .nobreakalert {
        grid-column: 1;
        grid-row: 2;
    }

    .breakalert {
        grid-column: span 2;
        grid-row: 2;
        padding-top: 5%;
        padding-left: 1%;
        padding-right: 1%;
        height: 100%;
        width: fit-content;
        display: flex;
        flex-direction: column;
    }

    .alertbuttcontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .alertbutt {
        width: fit-content;
    }
}