<div class="mt-5 ms-10">
  <h1>{{ isUser() ? (userdata?.account?.linxname ? userdata!.account.linxname : '') : (linxdata?.linxname ?
    linxdata!.linxname : '') }}</h1>
</div>
<div class="homecontainer">

  <!--PERFIL | AVISOS | REPORTES || CHAT | LINX'S CHAIN-->
  @if(isUser()){
  <div class="leftSideLinks">
    <a routerLink="/Linx/Home/Profile" routerLinkActive="active"
      class="flex flex-row text-cyan-400 hover:text-blue-700">
      <span class="material-symbols-outlined">
        assignment_ind
      </span>
      <p class="ps-2 pt-1">Perfil</p>
    </a>
    <a routerLink="/Linx/Home/Avisos" routerLinkActive="active"
      class="flex flex-row text-yellow-300 hover:text-amber-700">
      <span class="material-symbols-outlined">crisis_alert</span>
      <p class="ps-2">Avisos</p>
    </a>
    <a routerLink="/Linx/Home/Reportes" routerLinkActive="active"
      class="flex flex-row text-yellow-300 hover:text-yellow-500">
      <span class="material-symbols-outlined">flag</span>
      <p class="ps-2">Reportes</p>
    </a>
  </div>
  }@else {
  <div class="leftSideLinks">
    <button (click)="toggleChatModal()" class="flex flex-row text-purple-400 hover:text-blue-700">
      <span class="material-symbols-outlined">
        chat_bubble
      </span>
      <p class="ps-2 pt-1">Chat</p>
    </button>
    <button (click)="toggleChatModal()" class="flex flex-row text-purple-400 hover:text-blue-700">
      <span class="material-symbols-outlined">
        trip_origin
      </span>
      <p class="ps-2 pt-1">Cadena</p>
    </button>
  </div>
  }
  <!--ASIDE mobile-->
  <div class="asidemobile">
    <app-userhomeaside></app-userhomeaside>
  </div>
  <!--ARTICULOS-->
  <div class="artsContainer">
    <article class="border border-solid rounded-md p-3">
      <h1>Sobre plantas de interior</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa voluptas perferendis, tenetur nostrum corrupti
        facere eius at, repellat magnam, aut consequuntur. Rerum id ab quos repudiandae maiores dolores, autem in.</p>
      <div class="flex justify-end">
        @if(isUser()){
        <button type="button" (click)="toggleArtFormModal()"
          class=" hover:text-orange-600 flex flex-row p-3 rounded-lg">
          <span class="material-symbols-outlined">
            edit
          </span>
        </button>}
      </div>
    </article>
    <div class="editart">
      @if(isUser()){
      <button (click)="toggleArtFormModal()" type="button"
        class="bg-orange-500 hover:bg-orange-400 flex flex-row p-3 rounded-lg">
        <span class="material-symbols-outlined">
          note_add
        </span>
      </button>}
    </div>
  </div>

  <!--ASIDE mobile-->
  <div class="aside">
    <app-userhomeaside></app-userhomeaside>
  </div>
</div>

<app-articlemodalform [isOpen]="isArtFormOpen" [article]="article" [userdata]="userdata"></app-articlemodalform>

<!--CERRAR SESION | ROMPER CADENA-->
<div class="homefooter text-violet-300">
  @if(isUser()){
  <button (click)="logout()" class="ms-10 flex flex-row items-inline">
    <span class="material-symbols-outlined">
      meeting_room
    </span>
    <p class="pt-1 ps-1">Cerrar sesión</p>
  </button>
  }@else {
  <div class="chainbutt">
    @if(isChained()){
    <button (click)="showAlert()" data-tooltip-target="tooltip-animation" data-tooltip-placement="right"
      data-tooltip-style="light" class="flex flex-row hover:bg-slate-100 p-3 rounded-md">
      <img src="../../../../assets/imgs/logos/favicon.ico">
    </button>
    <div id="tooltip-animation" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-extralight text-black transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip ">
      Romper cadena
    </div>
    }@else {
    <button [disabled]="isChainRequested()" (click)="requestJoinChain()" data-tooltip-target="tooltip-animation" data-tooltip-placement="right"
      data-tooltip-style="light" class="hover:bg-slate-100 p-3 rounded-md">
      <img src="../../../../assets/imgs/logos/joinchain3.ico">
    </button>
    <div id="tooltip-animation" role="tooltip"
      class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-extralight text-fuchsia-600 transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip ">
      {{ isChainRequested() ? "" : "Unir a tu cadena"}}
    </div>
    }
  </div>
  @if(showBreakChainAlert()){
  <div class="breakalert">
    <h4>Al romper cadena perderás a Calle y a todxs lxs linxs de su cadena , ¿estás segurx de querer continuar?</h4>
    <div class="alertbuttcontainer">
      <button type="button" (click)="closeAlert()" class="alertbutt text-violet-400 bg-white border border-violet-300 hover:bg-violet-100 font-normal rounded-lg text-sm px-2 me-2 mb-2">Cancelar</button>
      <button type="button" (click)="breakChain()" class="alertbutt text-red-800 bg-red-400 hover:bg-red-500 font-normal rounded-lg text-sm px-2 me-2 mb-2 ">Romper cadena</button>
    </div>
  </div>
  }@else {
    <div class="nobreakalert"></div>  
  }
  <div class="reportLink">
    <a routerLink="/Linx/Home/Reportes" routerLinkActive="active"
      class="flex flex-row text-yellow-500 hover:text-yellow-600">
      <span class="material-symbols-outlined">flag</span>
      <p class="ps-1 pt-2">Reportar</p>
    </a>
  </div>
  }
</div>
<ng-container #chatcompoContainer></ng-container>