<form [formGroup]="signupForm" (ngSubmit)="signup()">

    <div>
        <input matInput [matDatepicker]="picker">
        <mat-hint>Fecha de nacimiento</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </div>
    <div class="flex flex-col">
        <label class="mb-8" for="rangeOfAge">Rango de edad que quiero encontrar</label>
        <mat-slider min="18" max="120" step="1" discrete value="1.5">
            <input matSliderStartThumb>
            <input matSliderEndThumb>
        </mat-slider>
    </div>    
    

</form>
