<div class="min-h-screen bg-gray-100 flex justify-center items-center">
    <div class="container mx-auto bg-indigo-300 rounded-lg p-14 ">
        <form #searchForm="ngForm" (ngSubmit)="search(searchForm)">
            <h1 class="text-center font-bold text-green-300 text-4xl">Encuentra tus artistas, álbums y tracks favoritos del momento</h1>
                <p class="font-semibold text-green-600 text-lg my-6 max-w-lg">Añádelos a tu expositor</p>
                <div class="sm:flex items-center bg-white dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 rounded-lg overflow-hidden px-2 py-1 justify-between">
                    <input class="text-base text-gray-400 flex-grow outline-none px-2 dark:bg-gray-700 dark:border-s-gray-700  dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500" type="text"    
                    placeholder="Selecciona búsqueda por artista, álbum o track" 
                    name="q"
                    required 
                    [(ngModel)]="searchParams.q" #q="ngModel"/>
                    <div class="ms:flex items-center px-2 rounded-lg space-x-4 mx-auto ">
                        <select id="qtype" class="text-base text-gray-800 dark:text-gray-200 dark:bg-gray-700 dark:border-gray-600 outline-none border-2 px-4 py-2 rounded-lg"
                        required [(ngModel)]="searchParams.type" #type="ngModel" name="type">
                            <option value="aa" [selected]="true" [disabled]="true">Selecciona</option>
                            <option value="artist">Artista</option>
                            <option value="album">Álbum</option>
                            <option value="track">Track</option>
                        </select>
                        <button class="bg-indigo-500 text-white text-base rounded-lg px-4 py-2 font-thin">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                        </svg>
                        </button>
                    </div>
                </div>
        </form>
    </div>
</div>


<div class="grid grid-cols-2 md:grid-cols-3 gap-4">
    <div>
        <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
            alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg" alt="">
    </div>
    <div>
        <img class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg" alt="">
    </div>
</div>