.panelcontainer{
    display: grid;
    grid: repeat(4, minmax(0,1fr));
    column-gap: 5%;
}

.navside{
    grid-column: span 1 / span 1;
    font-size: large;
}

.navselection{
    grid-column: 2 / span 3;
}

.ulselection{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0,1fr));
    column-gap: 2%;
}

.liselection{
    width: 100%;
    height: 100%;
    grid-column: span 1 / span 1;
}

.eventsbody{
    grid-column: 2 / span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: auto; 
    row-gap: 3%;
    column-gap: 3%;
    margin-bottom: 5%;
}

.eventcard{
    grid-column: span 1 / span 1;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-columns: auto;
    border: 1px solid gainsboro;
    border-radius: 25px;
    box-shadow: 5%;
    height: fit-content;
}

.eventhead{
    grid-column: span 1 / span 1;
}

.eventdescrip{
    grid-column: span 1 / span 1;
    height: 100%;
    overflow-y: auto;
}
.eventags{
    margin-top: 10px;
    grid-column: span 1 / span 1;
}
.eyebutt{
    grid-column: span 1 / span 1;
}
.cardtext{
    height: 10dvh;
}

@media only screen and (max-width: 768px) {
    .panelcontainer{
        display: grid;
        grid-template-columns: repeat(3, minmax(0,1fr));
        column-gap: 5%;
        margin-bottom: 10%;
    }
    
    .navside{
        grid-column: span 3 / span 3;
        grid-row: 2;
        display: flex;
        flex-direction: row;
        font-size: medium;
    }
    
    .navselection{
        grid-column: span 3 / span 3;
        grid-row: 1;
    }

    .ulselection{
        width: 100%;
        grid-column: span 1 / span 1;
        display: grid;
        grid-template-columns: repeat(2, minmax(0,1fr));
        column-gap: 2%;
    }

    .liselection{
        width: 100%;
        height: 100%;
        grid-column: span 2 / span 2;
    }
    
    .eventsbody{
        grid-column: span 3 / span 3;
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-auto-rows: auto; 
        row-gap: 1%;
        column-gap: 3%;
        padding-bottom: 30%;
    }
    
    .eventcard{
        /*col-span-1 mb-3 w-full*/
        grid-column: span 1 / span 1;
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
        grid-template-columns: auto;
        border: 1px solid gainsboro;
        border-radius: 25px;
        box-shadow: 5%;
        height: fit-content;
    }
    
    .eventhead{
        grid-column: span 1 / span 1;
    }
    
    .eventdescrip{
        grid-column: span 1 / span 1;
        height: 100%;
        overflow-y: auto;
    }
    .eventags{
        margin-top: 10px;
        grid-column: span 1 / span 1;
    }
    .eyebutt{
        grid-column: span 1 / span 1;
    }
    .cardtext{
        height: 10dvh;
    }
    
}