
<div class="panelcontainer">
    <div class="navside">
        <button (click)="goToSearchEvents()"
            class="hover:text-pink-600 text-purple-500 flex flex-row w-full py-1 mb-2 justify-start">
            <span class="material-symbols-outlined">saved_search</span>
            <p class="ps-2 pt-1">Eventos en cadena</p>
        </button>
        <button (click)="goToNewEventForm()"
            class="hover:text-pink-600 text-purple-500 flex flex-row w-full py-1 mb-2 justify-start">
            <span class="material-symbols-outlined">family_star</span>
            <p class="ps-2 pt-1">Crear evento</p>
        </button>
    </div>
    <div class="navselection">
        <ul class="ulselection">
            <li class="liselection">
                <input type="radio" id="hosting-small" name="hosting" value="hosting-small" class="hidden peer"
                    required />
                <label for="hosting-small"
                    class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-pink-600 peer-checked:text-pink-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Mis Eventos</div>
                    </div>
                </label>
            </li>
            <li class="liselection">
                <input type="radio" id="hosting-big" name="hosting" value="hosting-big" class="hidden peer">
                <label for="hosting-big"
                    class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-pink-600 peer-checked:text-pink-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Eventos en Cadena</div>
                    </div>
                </label>
            </li>
        </ul>
        <div class="mt-12">
        </div>
    </div>
    <div class="eventsbody">
        <div class="eventcard  p-6 bg-white border border-gray-200 rounded-lg shadow ">
            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nombre</h3>
            <p class="text-gray-400">Viernes 21 de mayo a las 21:00</p>
            <p class="text-gray-400">- - - - - - - - - - - - - - - -</p>
            <p class="text-gray-400">Domingo 23 de mayo a las 23:00</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <div class="flex flex-wrap mb-5">
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Cine</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Música</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Estreno</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Tecno</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Electro</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Velocidad</p>
                </div>
            </div>
            <div class="text-end">
                <a href="#"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-pink-500 rounded-lg hover:bg-pink-600 focus:outline-none dark:bg-pink-500 dark:hover:bg-pink-600 ">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                </a>
            </div>
        </div>
        <div class="eventcard  p-6 bg-white border border-gray-200 rounded-lg shadow ">
            <div class="eventhead">
                <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nombre</h3>
                <p class="text-gray-400">Viernes 21 de mayo a las 21:00</p>
                <p class="text-gray-400">- - - - - - - - - - - - - - - -</p>
                <p class="text-gray-400">Domingo 23 de mayo a las 23:00</p>
            </div>
            <div class="cardtext">
                <p class="eventdescrip mb-3 font-normal text-gray-700 ">Here are the biggest enterprise technology
                    acquisitions of 2021 so far, in reverse chronological order.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem optio asperiores placeat ut earum iusto tenetur voluptatum! Quas neque, optio deserunt dolorum sunt nobis placeat facilis aliquam illo voluptate similique.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam et perspiciatis quaerat pariatur asperiores ratione sequi reprehenderit eligendi magnam deserunt mollitia facere ipsum consectetur, temporibus, voluptas saepe, modi atque animi!
                </p>
            </div>
            <div class="eventags flex flex-wrap mb-5">
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Cine</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Música</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Estreno</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Tecno</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Electro</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Velocidad</p>
                </div>
            </div>
            <div class="eyebutt text-end">
                <a href="#"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-pink-500 rounded-lg hover:bg-pink-600 focus:outline-none dark:bg-pink-500 dark:hover:bg-pink-600 ">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                </a>
            </div>
        </div>
        <div class="eventcard  p-6 bg-white border border-gray-200 rounded-lg shadow ">
            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nombre</h3>
            <p class="text-gray-400">Viernes 21 de mayo a las 21:00</p>
            <p class="text-gray-400">- - - - - - - - - - - - - - - -</p>
            <p class="text-gray-400">Domingo 23 de mayo a las 23:00</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <div class="flex flex-wrap mb-5">
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Cine</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Música</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Estreno</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Tecno</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Electro</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Velocidad</p>
                </div>
            </div>
            <div class="text-end">
                <a href="#"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-pink-500 rounded-lg hover:bg-pink-600 focus:outline-none dark:bg-pink-500 dark:hover:bg-pink-600 ">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                </a>
            </div>
        </div>
        <div class="eventcard  p-6 bg-white border border-gray-200 rounded-lg shadow ">
            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Nombre</h3>
            <p class="text-gray-400">Viernes 21 de mayo a las 21:00</p>
            <p class="text-gray-400">- - - - - - - - - - - - - - - -</p>
            <p class="text-gray-400">Domingo 23 de mayo a las 23:00</p>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology
                acquisitions of 2021 so far, in reverse chronological order.</p>
            <div class="flex flex-wrap mb-5">
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Cine</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Música</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Estreno</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Tecno</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Electro</p>
                </div>
                <div class="bg-gray-300 text-gray-600 w-fit rounded-lg flex flex-row px-2 me-1 mb-1">
                    <p class="pt-1">Velocidad</p>
                </div>
            </div>
            <div class="text-end">
                <a href="#"
                    class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-pink-500 rounded-lg hover:bg-pink-600 focus:outline-none dark:bg-pink-500 dark:hover:bg-pink-600 ">
                    <span class="material-symbols-outlined">
                        visibility
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>