@if(this.isChangePwd()){
<div class="inputscontainer">
    <div class="changepwdcontainer p-6 rounded-lg">
        <div class="col-span-1 flex flex-col items-center mt-8">
            <div class="w-full">
                <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    Introduce tu Contraseña
                </label>
                <div class="flex flex-row">
                    <input type="password" id="password" (change)="handleOldPwd($event)"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5 "
                        placeholder="Contraseña" required style="height: 40px;" />
                    <button type="button" (click)="authenticate"
                        class="text-gray-900 bg-white border border-gray-300 hover:bg-gray-100 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2"
                        style="height: 40px;">Autenticarme</button>
                </div>
            </div>
        </div>
        <div class="col-span-1 flex flex-col justify-end">
            <p class="text-green-600 font-bold">Cuenta autenticada ✔</p>
        </div>
        <form class="newpwdinputs">
            <div class="col-span-1 flex flex-col items-center mt-3">
                <div class="w-full">
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Nueva Contraseña
                    </label>
                    <input type="password" id="password" formControlName="password" disabled="this.isAuthenticated()"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5"
                        placeholder="Contraseña" required />
                </div>
            </div>
            <div class="col-span-1 flex flex-col items-center mt-3">
                <div class="w-full">
                    <label for="reppassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Repite
                        la contraseña</label>
                    <input type="password" id="reppassword" formControlName="reppassword"
                        disabled="this.isAuthenticated()" 
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-blue-500 block w-full p-2.5 "
                        placeholder="Repite tu contraseña" required />
                </div>
            </div>
            <div class="pwdfoot">
                <button type="button" (click)="this.isChangePwd.set(false)" class="pt-5"
                    style="text-decoration: underline;">Cerrar
                </button>
                <button type="button"
                    class="text-white bg-purple-400 hover:bg-purple-500 hover:text-blue-300 font-medium rounded-md text-sm px-2 py-1 text-center mb-2 mt-2">
                    Cambiar contraseña
                </button>
            </div>
        </form>

    </div>

</div>

}@else{
<form class="inputscontainer">
    <div class="inputlinxname">
        <label for="linxname" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Nombre de LINX</label>
        <input type="text" id="linxname" formControlName="linxname"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
            placeholder="Giogio" required />
    </div>
    <div class="inputemail">
        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
        <input type="text" id="email" formControlName="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5"
            placeholder="mail@mail.com" required />
    </div>
    <button class="changepwdbutt" type="button" (click)="toggleChangePwd()"
        style="text-decoration: underline;color: green;">
        Cambiar contraseña
    </button>
    <button class="deleteaccbutt text-gray-300 hover:text-blue-300" type="button" (click)="toggleChangePwd()">
        Eliminar cuenta de Linx
    </button>
    <div class="savechangesbutt">
        <button type="submit"
            class="text-white bg-purple-400 hover:bg-purple-500 hover:text-blue-300 font-medium rounded-full text-sm px-3 py-2 text-center mb-2">
            Guardar cambios
        </button>
    </div>
</form>
}