<div class="container">
  <!-- <div class="branding">
    <img style="width: 20%; height: auto;" src="../../../../assets/imgs/logos/chainlink_80919.png">
    <img style="width: 20%; height: auto;" src="../../../../assets/imgs/logos/chainlink_80919.png">
    <img style="width: 20%; height: auto;" src="../../../../assets/imgs/logos/chainlink_80919.png">
  </div> -->
  <div class="welcometextcont">
    <p>Bienvenidxs a LINX</p>
    <p>Empieza una alucinante aventura de cadenas</p>
    <p>donde la conexion esta en el centro</p>
  </div>
</div>


