<h1>LINX</h1>
<div class="flex flex-row items-center justify-center">
    <button (click)="goNext()">
        <span class="material-symbols-outlined" id="next" style="color: greenyellow;">
            join_left
    </span>
        
    </button>
    @if (this.next()) {
        <div class="max-w-md mb-10 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-96 flex flex-col">
            <div class="overflow-hidden">
                <img class="h-full w-full object-cover" src="../../../../assets/imgs/profpics/IMG20240122132938.jpg" alt="" />
            </div>
            <div class="p-5 text-center flex-grow">
                <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Me sudan las manos</h3>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Me encanta España ❤️‍🔥❤️‍🔥❤️‍🔥 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos facere quaerat adipisci voluptas accusamus, iusto necessitatibus beatae doloremque sapiente soluta rem, tenetur nulla illo similique, modi nisi. Porro, neque laborum? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita similique ipsam beatae tempore eligendi rerum voluptas vero harum optio fuga accusantium, magni fugit. Tenetur voluptatum est ex, culpa in nostrum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, recusandae voluptatem qui quia quo esse, id eligendi nam tenetur ad, libero enim porro doloribus deleniti ratione accusantium consequuntur. Numquam, facilis?
                </p>
                <button style="border: none;">
                    <span class="material-symbols-outlined" id="thumb" style="color: purple">
                        lightning_stand
                    </span>
                </button>
            </div>
        </div>
        
    }@else {
        <div class="max-w-md mb-10 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 h-96 flex flex-col">
            <div class="overflow-hidden">
                <img class="h-full w-full object-cover" src="../../../../assets/imgs/profpics/IMG20231216210910.jpg" alt="" />
            </div>
            <div class="p-5 text-center w-120 h-60">
                <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Sobre plantas de interior</h3>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Me gustaría tener la oportunidad de contarte todo lo que he aprendido sobre plantas de interior.</p>
                <button style="border: none;">
                    <span class="material-symbols-outlined" id="thumb" style="color: purple">
                        lightning_stand
                    </span>
                </button>
            </div>
        </div>
        
    }
    

    <button (click)="goNext()">
        <span class="material-symbols-outlined" id="next" style="color: violet;">
            join_right
        </span>
    </button>
</div>
<footer class="flex flex-row mt-10">
    <button></button>
    <button></button>
    <button></button>
</footer>
