@if(showMeetingZone()){
    <app-linxscarousel></app-linxscarousel>
}@else {
    <div class="flex flex-col justify-center items-center p-5" style="height: 80vh;">
        <button (click)="showMeetingZone.set(!showMeetingZone())" class="bg-violet-200 p-8 px-10 py-5 rounded-md flex flex-col items-center">
            <div class="w-fit pt-5">
                <img src="../../../assets/imgs/logos/chainlink_80919.png " style="width: 200px;">
            </div>
            <p class="pt-2 text-lime-400 font-extrabold text-3xl">Linxme</p>
        </button>
    </div>
}


