<app-conversations [isOpen]="isChatsOpen"></app-conversations>
<app-interactions [isOpen]="isInteractionsOpen"></app-interactions>
<app-mychain [isOpen]="isMyChainOpen"></app-mychain>

<footer class="fixed bottom-0 left-0 right-0 z-50 bg-white border-t border-gray-200 flex flex-row justify-around py-5">
    <button (click)="toggleChatsModal()"><mat-icon
            class=" text-purple-400">change_history</mat-icon></button>
    <button (click)="toggleInteractionsModal()"><mat-icon
            class="text-pink-500">bolt</mat-icon></button>
    <button (click)="toggleMyChainModal()">
        <span class="material-symbols-outlined text-green-300">
            trip_origin
        </span>
    </button>
</footer>
