<div class="profileformContainer">
    <div class="formcol">
        <ul class="navselection">
            <li>
                <input type="radio" (change)="selectSection($event)" checked id="hosting-small" name="section"
                    value="account" class="hidden peer" required />
                <label for="hosting-small"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-green-600 peer-checked:text-green-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Cuenta</div>
                    </div>
                </label>
            </li>
            <li>
                <input type="radio" (change)="selectSection($event)" id="hosting-big" name="section" value="preferences"
                    class="hidden peer">
                <label for="hosting-big"
                    class="inline-flex items-center justify-between w-full p-3 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 dark:peer-checked:text-blue-500 peer-checked:border-purple-600 peer-checked:text-purple-600 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">Preferencias</div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
    <div class="formcol">
        @if(this.isAccount()){
            <app-editaccount [accountdata]="accountdata"></app-editaccount>
        }
        @if(this.isPreference()){
       
        }
    </div>

</div>